.DetailsDiv {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    padding: 25px;
}

.DetailsDiv a {
    color:white;
}

.DetailsSection {
    display: flex;
    background-image: url(https://media.istockphoto.com/id/1146367630/vector/abstract-navy-background.jpg?s=612x612&w=0&k=20&c=4odz8sgWFQHHwQ09ouonbKdvotg79421iCgJ8-99RyE=);
    background-size: cover;
    border-radius: 20px;
    border-style: solid;
    box-shadow: 8px 8px 11px 8px #010002;
    border-color: rgb(29, 95, 194);
    color: rgb(29, 95, 194);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 50px;
    height: 50em;
}

.DetailsInfo {
    margin-top: 20%;
}

.DetailsInfo>h5>button {
    background-color: rgb(29, 95, 194);
    color: white;
}

.DetailsInfo>h5 {
    color: white;
}

.MainInfo {
    border-color: rgb(29, 95, 194);
    border-style: groove;
    border-width: 5px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 4px black;
    margin-bottom: 20%;
    height: 44em;
}

.DetailsInfo>h5>span {
    color: rgb(29, 95, 194);
    padding: 3px;
}


.DetailsDescription {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
    font-size: larger;
}

.DetailsDescription > div > h1{
    padding: 0.5em;
    text-align: center;
}

.DetailsButtons {
    display: flex;
    padding: 15px;
    border-radius: 20px;
    border-style: solid;
    box-shadow: 8px 8px 11px 8px #010002;
    border-color: rgb(29, 95, 194);
    justify-content: space-evenly;
}

.DetailsButtons>button {
    box-shadow: 3px 2px 2px 2px rgb(2, 10, 21);
    outline-color: black;
    background-color: rgb(29, 95, 194);
    color: white;
    width: 150px;
}


.Trailer {
    border-color: rgb(29, 95, 194);
    border-style: groove;
    border-width: 5px;
    box-shadow: 3px 3px 3px 3px black;
    border-radius: 10px;
}

.DetailsInfo > button {
    background: none;
    border: none;
    font-size: x-large;
    padding: 0;
}

.Details1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.DetailsButtons > a > button{
background-color: rgb(29, 95, 194);
width: 150px;
box-shadow: 3px 2px 2px 2px rgb(2, 10, 21);

}

