.Main {
    background-image: url('../public/images/background-image.jpg');
    background-size: cover;
    min-height: 100vh;

}

body {
    margin: 0;
}

.LoadingDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://w.wallhaven.cc/full/0w/wallhaven-0w2de6.jpg);
    background-size: cover;
    min-height: 100vh;
}

